.character-full-card {
  max-width: 350px;
  border-radius: 10px;
}

.content {
  display: flex;
  justify-content: center;
}

.character-status-icon {
  margin-right: 0.375rem;
  border-radius: 50%;
}

.character-alive {
  color: green;
}

.character-dead {
  color: red;
}

.content-subtitle {
  margin-bottom: 0px !important;
}
